<br><br><br>
<div id="header">
  <h1 id="main_title">Welcome to Seattle</h1>
  <img id="homepage_image" class="img-rounded" src="http://davidbalyeat.com/wp-content/uploads/seattle-skyline-night-space-needle-mount-rainier-high-definition-hd-professional-photography.jpg" alt="">
  <a href="https://www.accuweather.com/en/us/seattle-wa/98104/weather-forecast/351409" class="aw-widget-legal"></a>
  <div id="awcc1501020395773" class="aw-widget-current"  data-locationkey="351409" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1501020395773"></div>
  <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
</div>
<div id="featured_locations">
  <a href="/location/popular">
    <h3>Popular Attractions</h3>
  </a>
  <div class="row featured">
    <% @locations.limit(8).each do |location| %>
      <% if location.main_attraction %>
        <div class="col-md-3 img-thumbnail">
          <a href="/location/<%=location.id%>">
            <div>
            <h4><%=location.name%></h4>
              <img class="img-rounded main_image" src="<%=location.main_image%>" alt="<%= location.name %>">
            </div>
          </a>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <div id="hiddenGems">
    <a href="/location/hidden_gems">
      <h3>Hidden Gems</h3>
    </a>
    <div class="row">
      <% @locations.limit(17).each do |location| %>
        <% if !location.main_attraction %>
          <div class="col-md-3 img-thumbnail">
            <a href="/location/<%=location.id%>">
              <div>
              <h4><%=location.name%></h4>
                <img class="img-rounded main_image" src="<%=location.main_image%>" alt="<%= location.name %>">
              </div>
            </a>
            <br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <a id="all_page" href="/location/all">See all locations</a>
  <br><br>
