<h1><%=@location.name%></h1>

<h3>description:<%=@location.description%></h3>
<br>
<h4><%=@location.website%> || <%=@location.phone_number%> || <%=@location.street_address%> <%=@location.city_state%></h4>

<img src="<%=@location.main_image%>" alt="">
