<h1 class="jumbotron"><%=@location.name%></h1>

<h4><%=@location.description%></h4>
<br>
<h4><span class="glyphicon glyphicon-globe"></span> <a href="<%=@location.website%>">website</a> |
  <% if @location.phone_number != "n/a"%>
    <span class="glyphicon glyphicon-phone"><%=@location.phone_number%></span> |
  <% end %>
  <span class="glyphicon glyphicon-map-marker"></span> <%=@location.street_address%> <%=@location.city_state%></h4>
<img src="<%=@location.main_image%>" class="img-rounded" alt="">
<br>
<% if current_user %>
  <% if current_user.itinerary.include?(@location.id) %>
    <%= button_to 'Remove from itinerary', remove_itinerary_path, :class => "btn btn-danger", :method => :patch%>
  <% else %>
    <%= button_to 'Add to itinerary', itinerary_path, :class => "btn btn-primary", :method => :patch %>
  <% end %>
  <% else %>

    <h4><a href="/users/sign_in">Sign in</a> to add to Itinerary</h4>

<% end %>
<br>
