<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <title>CapstoneProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="navbar navbar-left">
        <% if current_user %>
          <span class="glyphicon glyphicon-home"></span> <%= link_to "home", "/" %> | <span class="glyphicon glyphicon-user"></span> <%= link_to current_user.email, user_path(current_user) %> | <span class="glyphicon glyphicon-log-out"></span> <%= link_to "Sign out", destroy_user_session_path, :method =>'delete' %>
          <span class="navbar-right"> <%= form_tag(search_path, :method => "get", id: "search-form") do %>
             <%= text_field_tag :search, params[:search], placeholder: "Search Locations" %>
             <%= submit_tag "Search", :name => nil %>
           <% end %></span>
        <% else %>
          <span class="glyphicon glyphicon-home"></span> <%= link_to "home", "/" %> | <span class="glyphicon glyphicon-edit"></span> <%= link_to "Sign up", '/users/sign_up' %> | <span class="glyphicon glyphicon-user"></span> <%= link_to "Sign in", '/users/sign_in' %>
        <% end %>
     </div>
     <%= yield %>
    </div>
  </body>
</html>
