<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CapstoneProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar" class="container">
      <% if current_user %>
        <span class="glyphicon glyphicon-home"></span> <%= link_to "home", "/" %> | <span class="glyphicon glyphicon-user"></span> <%= link_to current_user.email, user_path(current_user) %> | <span class="glyphicon glyphicon-log-out"></span> <%= link_to "Sign out", destroy_user_session_path, :method =>'delete' %>
      <% else %>
        <span class="glyphicon glyphicon-home"></span> <%= link_to "home", "/" %> | <span class="glyphicon glyphicon-edit"></span> <%= link_to "Sign up", '/users/sign_up' %> | <span class="glyphicon glyphicon-user"></span> <%= link_to "Sign in", '/users/sign_in' %>
      <% end %>
      <%= yield %>
   </div>
  </body>
</html>
